<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.myapps.upesse.upes_spefest">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />
    <uses-feature
        android:name="android.hardware.camera.front"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera.autofocus"
        android:required="false" />

    <application
        android:allowBackup="true"
        android:name=".USFApplication"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!--
        <service
            android:name="de.quist.app.errorreporter.ExceptionReportService"
            android:process=":exceptionReporter"/>

        <meta-data
            android:name="de.quist.app.errorreporter.targetUrl"
            android:value="http://www.appliedprogramming.net/error.php" />

        <activity
            android:name="de.quist.app.errorreporter.ExceptionReportActivity"
            android:process=":exceptionReporter"
            android:theme="@android:style/Theme.NoDisplay"/>
        -->

        <!-- SplashActivity-->
        <activity
            android:name=".splash.AboutSplash"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- MainActivity-->
        <activity
            android:name=".auth.MainActivity"
            android:label="@string/app_name">
        </activity>

        <activity
            android:name=".events.EventsMainActivity"
            android:label="Events"
            android:theme="@style/AppTheme" />

        <activity
            android:name=".events.ConferencesActivity"
            android:label="Conferences"
            android:theme="@style/AppTheme" />

        <activity
            android:name=".ui.activity.AboutActivity"
            android:label="About"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme">
        </activity>

        <activity
            android:name=".ui.activity.InstaMainActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".ui.activity.NewPostActivity"
            android:screenOrientation="portrait"
            android:label="New Post"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".ui.activity.CommentsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.TransparentActivity" />
        <activity
            android:name=".ui.activity.UserDetailActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".ui.activity.UserProfileActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.TransparentActivity" />

    </application>

</manifest>